PORT=3000
GOOGLE_APPLICATION_CREDENTIALS=./firebaseKey.json
AI_PROVIDER=gemini
GEMINI_API_KEY=AQ.Ab8RN6JB03WGr-3x-BM_rWOi3iZImoqztS9sGhf-s6Ay1Z6-oA
GEMINI_MODEL=gemini-3.5-flash
OPENAI_API_KEY=AQ.Ab8RN6JB03WGr-3x-BM_rWOi3iZImoqztS9sGhf-s6Ay1Z6-oA
OPENAI_MODEL=gpt-4.1-mini
